.head{
     color: #61dafb;
}
.liveWeatherResponse{
    color: whitesmoke;
}
.direction{
    height: 10px;
    color: #61dafb;
}
#head{
    font-size: 24px;
    margin-bottom: 20px;
}
div#live-conditions {
    padding-bottom: 20px;
    padding-left: 110px;
    text-align: left;
}
div#live-conditions  p{
    margin-bottom: 10px;
}
div#live-conditions p img{
    height: 20px;
    margin-right: 5px;
}
#forecast-button{
    margin-bottom: 20px;
    font-weight: bold;
    padding: 10px 5px;
    border: 2px solid #61dafb;
    background-color: whitesmoke;
    border-radius: 20px;
    transition: .45s;
}
#forecast-button:hover{
    background-color: #61dafb;
    cursor: pointer;
    letter-spacing: 1px;
    border: 2px solid whitesmoke;
}