
@media (min-width: 820px) {
      .weatherForm{
    background-color: #282c34;
    padding: 20px;
}
.weatherForm input{
    padding: 10px;
    width: 300px;
    border: 3px solid #61dafb;
    border-radius: 30px;
    margin-top: 60px;
}
.weatherForm input:focus , .weatherForm button:focus {
    outline-width: 0;
}

.weatherForm button{
    margin-top: 60px;
    margin-left: 10px;
    font-weight: bold;
    padding: 10px 5px;
    border: 3px solid #61dafb;
    border-radius: 20px;
    transition: .45s;
}
.weatherForm button:hover{
    background-color: #61dafb;
    cursor: pointer;
}
.top{
    position: relative;
}
#hello{
    left: 10px;
    position: absolute;
    margin: 10px;
}
#welcome{
    top: 35px;
    left: 120px;
    position: absolute;
    color: whitesmoke;
    font-style: italic;
}
}
@media (max-width: 821px) {
.weatherForm input{
    padding: 10px;
    width: 80vw;
    border: 3px solid #61dafb;
    border-radius: 30px;
}
.weatherForm input:focus , .weatherForm button:focus {
    outline-width: 0;
}
.weatherForm button{
    padding: 10px 10px;
    background-color: rgba(75, 8, 102, .3);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    width: 60vw;
    border-radius: 40px;
    letter-spacing: 1px;
    margin-top: 3vh;
}
#hello{
    display: inline-block;
}
#welcome{
    display: inline-block;
    color: whitesmoke;
    font-style: italic;
    margin-bottom: 4vh;
}
}
